# IntelliJ IDEA
.idea/
*.iml

# Compilados Java
*.class
out/
**/out/

# Maven / Gradle
target/
build/

# Logs e temporários
*.log

# Arquivos do sistema
.DS_Store
Thumbs.db

# Bibliotecas empacotadas
*.jar
*.war
*.ear
